git+https://github.com/mapbox/vector-tile-base.git
pymbtiles
requests
fastapi
uvicorn
pyyaml
shapely
pyproj
mergedeep
prometheus-client
prometheus-fastapi-instrumentator
protobuf < 4 # 4.x binary not yet compatible with system package, deps of vt2geojson
