version: "3.3"

services:
  merge_proxy:
    build:
      context: merge_proxy
    image: ghcr.io/teritorio/v-mux-gl-merge_proxy:master
    environment:
      - CONFIG=/data/config.yaml
    volumes:
      - ./data:/data
    healthcheck:
      test: curl --fail http://localhost:8000 || exit 1
      interval: 2s
      retries: 30
      timeout: 120s
    restart: unless-stopped

  nginx:
    image: nginx
    volumes:
      - cache:/cache
      - ./nginx.conf:/etc/nginx/templates/default.conf.template
      - ./nginx.htpasswd:/etc/nginx/.htpasswd
    ports:
      - ${NGINX_PORT:-8080}:80
    depends_on:
      merge_proxy:
        condition: service_healthy
    restart: unless-stopped

  fetcher:
    profiles:
      - tools
    build: fetcher
    image: ghcr.io/teritorio/v-mux-gl-fetcher:master
    environment:
      - CONFIG=/data/config.yaml
      - SENTRY_DSN_FETCHER=${SENTRY_DSN_FETCHER}
    volumes:
      - ./data:/data
    command: bash -c 'ruby ./fetcher.rb'

  expire:
    profiles:
      - tools
    build: expire
    image: ghcr.io/teritorio/v-mux-gl-expire:master
    environment:
      - CONFIG=/data/config.yaml
      - SERVER=http://nginx
      - BYPASS=bypass
    volumes:
      - ./data:/data
    command: sh -c 'ruby ./get_tiles.rb'
    depends_on:
      merge_proxy:
        condition: service_healthy
      nginx:
        condition: service_started

volumes:
    cache:
