services:
  merge_proxy:
    build:
      context: merge_proxy
    image: ghcr.io/teritorio/v-mux-gl-merge_proxy:master
    environment:
      - CONFIG=/data/config.yaml
    volumes:
      - ./data:/data
    restart: unless-stopped

  nginx:
    image: nginx
    volumes:
      - cache:/cache
      - ./nginx.conf:/etc/nginx/templates/default.conf.template
      - ./nginx.htpasswd:/etc/nginx/.htpasswd
    ports:
      - ${NGINX_PORT:-8080}:80
    depends_on:
      merge_proxy:
        condition: service_healthy
    healthcheck:
      test: service nginx status || exit 1
      start_interval: 1s
      start_period: 30s
      interval: 30s
      timeout: 20s
      retries: 5
    restart: unless-stopped

  fetcher:
    profiles:
      - tools
    build: fetcher
    image: ghcr.io/teritorio/v-mux-gl-fetcher:master
    environment:
      - CONFIG=/data/config.yaml
      - SENTRY_DSN_FETCHER=${SENTRY_DSN_FETCHER:-}
    volumes:
      - ./data:/data
    command: ruby ./fetcher.rb

  expire:
    profiles:
      - tools
    build: expire
    image: ghcr.io/teritorio/v-mux-gl-expire:master
    environment:
      - CONFIG=/data/config.yaml
      - SERVER=http://nginx
      - BYPASS=bypass
    volumes:
      - ./data:/data
    command: ruby ./get_tiles.rb
    depends_on:
      merge_proxy:
        condition: service_healthy
      nginx:
        condition: service_started

volumes:
    cache:
